# Emacs related
*~
\#*\#
.\#*

# Python related
*.pyc
*.so

node_modules

# VS Code related
.vscode/

# Environment variables
src/pages/operator/ts/model/database.config.ts

pnpm-lock.yaml
dist
build
