.btn-group.vscale-toggle label {
    color: black
}

fieldset {
    padding-top: 10px;
}

.mode-toggle {
    padding-top: 10px;
}

#control-display-mode-toggle {
    padding-top: 20px;
}

.mode-toggle .btn-check:checked + .btn-secondary {
    background-color: #0065FF !important;
}

.tooltip-btn {
    padding:  0;
}