
#video-display-div {
    height:90%;
}

#video-display {
    position:absolute;
    height:90%;
    z-index:1;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

