
.video-display {
    height:90%;
}

.video-element {
    /*position:absolute;*/
    height:90%;
    z-index:1;
    border: 1px gray solid;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

