
#video-control-section {
    max-height: 90vh;
}

#video-control-section video-control {
    flex: 2 2;
}

#video-control-section video-control:nth-child(2) {
    flex: 1 1
}

.btn-group.velocity-toggle label {
    color: black
}

.btn[for="speed-1"] {
    background: #00ff00;
}

.btn[for="speed-2"] {
    background: #80FF00;
}

.btn[for="speed-3"] {
    background: #ffff00;
}

.btn[for="speed-4"] {
    background: #ff8000;
}

.btn[for="speed-5"] {
    background: #ff0000;
}


/***************************************************/


/* Initial code prior to editing                   */
/****************************************************************************/
/* generated "Mic On" / "Mic Off" switch with the following website         */
/* https://proto.io/freebies/onoff/                                         */
/* more reference websites                                                  */
/* https://foundation.zurb.com/sites/docs/switch.html                       */
/* https://developer.mozilla.org/en-US/docs/Web/HTML/Element/input/checkbox */
/****************************************************************************/


.onoffswitch {
  display: inline-block;
  left: 10px;
  position: relative;
  width: 50px;
}

.onoffswitch-checkbox {
    display: none;
}

.onoffswitch-label {
    display: block;
    overflow: hidden;
    cursor: pointer;
    border: 2px solid #999999;
    border-radius: 20px;
}

.onoffswitch-inner {
    display: block;
    width: 200%;
    margin-left: -100%;
    /*transition: margin 0.3s ease-in 0s;*/
}

.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block;
    float: left;
    width: 50%;
    height: 46px; /*22px;*/
    padding: 0;
    line-height: 46px; /*22px;*/
    /*font-size: 15px;*/
    font-size: 15px;
    color: white;
    font-family: Trebuchet, Arial, sans-serif;
    font-weight: bold;
    box-sizing: border-box;
}

.onoffswitch-inner:before {
    /*    content: "Mic On";*/
    content: "Mic";
    padding-left: 10px;
    background-color: #F22121; color: #FFFFFF;
}

.onoffswitch-inner:after {
    /*    content: "Mic Off";*/
    content: "Mic";
    padding-left: 10px;
    background-color: #EEEEEE; color: #999999;
    /*text-align: right;*/
}

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px;
}

/********************************************************************/

#googleSignInButton {
    width: 0px;
    height: 0px;
    padding: 1.2em 5em;
    background: url("../../shared/assets/web/2x/btn_google_signin_light_normal_web@2x.png");
    background-size: cover;
    cursor: pointer;
}

#googleSignOutButton:focus {
    background: url("../../shared/assets/web/2x/btn_google_signin_light_focus_web@2x.png");
}
